
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas:
     "header header header"
     "archives content ads"
     "sponsors footer footer";
  }
.header {
    grid-area: header;
    background: purple;
}
.archives {
    grid-area: archives;
    background: blue;
}
.content {
    background: red;
}
.ads {
    background: orange;
}
.sponsors {
    background: greenyellow;
}
.footer {
    grid-area: footer;
    background: grey;
}